@media only screen and (max-width: 600px) {
    .p-mo{
        padding: 0px 0px;
    }
    section{
        padding: 40px 0px;
    }
    header{
        background :#000;
    }
    .navbar-expand-lg {
        padding: 7px 0px;
        height: 78px;
    }
    .navbar-toggler{
        border: 1px solid #fff;
    }
    .navbar-toggler-icon {
        filter: invert(1);
    }
    .left-side-img img{
        margin: auto;
        display: block;
        margin-bottom: 29px;
    }
    .right-side-details h3 {
        color: var(--Nuetral-Almost-Black, #fff);
        font-family: "Inter Tight";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        letter-spacing: 0.56px;
        text-transform: capitalize;
    }
    .moviesdetails-title {
        background: #27222257;
        padding: 10px 16px;
        width: fit-content;
        border-radius: 28px;
        position: absolute;
        bottom: 4rem;
        z-index: 2;
        left: 0px;
        right: 0px;
        margin: auto;
    }
    .moviesdetails-title h3 {
        color: var(--Nuetral-Almost-Black, #fff);
        font-family: "Inter Tight";
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        letter-spacing: 0.56px;
        text-transform: capitalize;
    }
    .details-apge{
        padding-bottom: 0px;
    }
    #movie-list{
        padding: 0px 18px;
    }
    .hero-content {
        width: 450px;
        max-width: 100%;
        padding: 1rem 18px;
    }
    .hero-content h2 {
        color: var(--Nuetral-Almost-Black, #fff);
        font-family: "Inter Tight";
        font-size: 42px;
        font-style: normal;
        font-weight: 500;
        line-height: 148%;
        letter-spacing: 0.56px;
    }
    .navbar-brand {
        color: #fff;
        font-family: Sen;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
    }
}
@media only screen and (max-width: 600px) {
    .allfoode-title {
        display: block;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }    
    .allfooditem .card {
        width: 309px;
        padding: 0px;
        border: 1px solid #fff;
        border-radius: 0px;
        padding: 18px 16px;
        background: transparent;
        margin: auto;
    }
    .allfoode-title h1 {
        color: #fff;
        font-family: Sen;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        margin-bottom: 30px;
    }
    .background-cover-drink h1 {
        color: #ffffffe0;
        font-family: Sen;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }
    .herocontet {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 2;
        height: fit-content;
        width: 523px;
        max-width: 100%;
        margin: auto;
        padding: 0px 24px;
        text-align: center;
    }
    .herocontet .btn{
        margin: auto;
    }
    .owl-carousel .owl-item img{
        height: 500px;
    }
    .background-cover {
        height: 541px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: column;
        padding: 0px;
        margin-top: 3rem;
    }

   .header-is-active  .container{
        background: #000;
        padding-bottom: 40px;
    }
    .hedaer-social-icon {
        gap: 12px;
        justify-content: space-around;
        width: 200px;
        margin: auto;
        margin-top: 42px;
    }
    .herocontet h1 {
        color: #fff;
        font-family: Sen;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        margin: 20px 0px;
        text-align: center;
    }
}
@media only screen and (max-width: 600px) {
    .allfooditem {
        padding: 40px 0px 0px;
    }
    .background-cover-drink {
        height: 445px;
        display: flex;
        justify-self: center;
        align-items: center;
        background-size: cover;
        background-position: center center;
        width: 100%;
        margin-top: 4rem;
    }
    .allDrinkitem .card {
        margin: auto;
        margin-bottom: 20px;
        width: 343px;
        max-width: 100%;
    }
    .btn-warp {
        display: block;
        justify-content: space-between;
        gap: 24px;
        flex-direction: column;
        column-count: 2;
        padding: 0px 8px;
    }
    .drink-fliter-box label {
        color: rgb(255, 255, 255);
        font-family: Sen;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
        padding: 0px 11px;
        margin-top: 16px;
    }
    .drink-fliter-box .form-select {
        background: transparent;
        border-radius: 0px;
        color: rgb(255, 255, 255);
        font-family: Sen;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        height: 50px;
        text-transform: capitalize;
        width: 100%;
        margin-bottom: 20px;
    }
    .row-dirnkfilter .filter-div {
        margin-bottom: 0px;
        padding: 0px 11px;
    }
    .background-cover-food h1 {
        color: #ffffffe0;
        font-family: Sen;
        font-size: 39px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        margin-bottom: 9px;
        text-align: center;
    }
    .food-details-description {
        padding: 22px 7px;
    }
    .food-details-description h2 {
        color: #ffffffe0;
        font-family: Sen;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        margin-bottom: 10px;
    }
    .product-details-img {
        padding: 18px 19px;
        border: 1px solid yellowgreen;
        width: 360px;
        margin: auto;
    }
    .background-cover-food {
        height: 427px;
        display: flex;
        justify-self: center;
        align-items: center;
        background-size: cover;
        background-position: center center;
        width: 100%;
        margin-top: 4rem;
    }
    .food-details-description p {
        color: #ffffffe0;
        font-family: Sen;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 9px;
    }
    .food-Related .card {
        width: 300px;
        margin-bottom: 24px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-image: initial;
        border-radius: 0px;
        padding: 18px 16px;
        background: transparent;
        transition: 0.5s;
        margin: auto;
    }
    .food-category-section .card {
        height: 320px;
        width: 300px;
    }
    .drink-category-section .card {
        height: fit-content;
        width: 300px;
    }
    .herocontet p {
        color: #fff;
        font-family: Sen;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.4px;
        margin-bottom: 30px;
    }
    .tag-h6 {
        color: var(--Secondary, #fff);
        text-align: left;
        font-family: Sen;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 115%;
        letter-spacing: 0.21px;
        border-radius: 100px;
        background: rgba(20, 154, 244, 0.20);
        display: flex;
        padding: 10px 16px;
        align-items: center;
        gap: 10px;
        width: fit-content;
        margin-bottom: 16px;
        margin: auto;
    }
    .drink-details-description {
        padding: 24px 10px;
    }
    .drink-details-description h2 {
        color: #ffffffe0;
        font-family: Sen;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        margin-bottom: 10px;
    }
    .drinkdetailspage{
        padding-bottom: 0px;
    }
    .drink-Related .card {
        width: 300px;
        margin-bottom: 24px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-image: initial;
        border-radius: 0px;
        padding: 18px 16px;
        background: transparent;
        transition: 0.5s;
        margin: auto;
    }
    .row-category {
        column-count: 1;
        column-gap: 16px;
        margin-top: 16px;
        padding: 0px 20px;
    }
    .contaus-from{
        padding: 40px 10px 0px;
    }
    .contatus-left-side{
        margin-bottom: 24px;
    }
    .contatus-left-side button{
        width: 100%;
    }
    .contaus-from h2 {
        color: #fff !important;
        font-family: Sen;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .faqs-from{
        padding: 40px 12px 0px;
    }
    .contact-banner h1 {
        color: #ffffffe0;
        font-family: Sen;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 39px;
        margin-bottom: 19px;
        text-align: center;
    }
    .tiltle {
        width: 504px;
        max-width: 100%;
        margin: auto;
        padding: 0px 30px;
    }
    .wine-section .card {
        margin: auto;
    }
    .filter-btn-collection .btn {
        width: 29%;
    }
    .filter-btn-collection {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-bottom: 24px;
        flex-wrap: wrap;
        padding: 0px 14px;
    }
    .testimonial-slider-single {
        position: relative;
        display: flex;
        align-items: center;
        gap: 25px;
        flex-direction: column;
        padding: 0px 11px;
    }
    .testimonial-slider-single::after {
        content: '';
        max-width: 932px;
        width: 100%;
        height: 332px;
        border-radius: 24px;
        background: #fff;
        position: absolute;
        top: 13rem;
        right: 0;
        z-index: -1;
    }
    .testimonial-comments p {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 36px;
        padding-right: 13px;
        font-family: Sen;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        transition: all 1s;
        padding: 0px 11px;
    }
    .testimonials-navigation {
        width: auto;
        position: absolute;
        display: flex;
        gap: 24px;
        right: 80px;
        bottom: 28px;
    }
    .testimonial-info h5 {
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        font-family: Sen;
        font-style: normal;
        padding: 0px 14px;
    }
    .testimonial h2 {
        color: #ffffffe0;
        font-family: Sen;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 0px;
        text-align: center;
        margin-top: 40px;
    }
    .testimonial-slider-image {
        max-width: 200px;
        width: 100%;
        height: 200px;
        border-radius: 50%;
        border: 1px solid gold;
    }
}
@media only screen and (max-width: 600px){
    #canvas {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        height: 388px;
        width: 800px;
        max-width: 100%;
        z-index: 0;
    }
    .modal-body {
        padding: 0px 17px;
        text-align: center;
        background: #000;
    }
    .welcom-modal h1 {
        color: #ffffffba !important;
        font-family: Sen;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .food-list-section .card {
        margin: auto;
        margin-bottom: 24px;
    }
    .card-food-img img {
        height: 239px;
        width: 239px;
        object-fit: cover;
        border-radius: 100%;
        margin: auto;
        display: block;
    }
    .total-counter .card {
        width: 286px;
        margin: auto;
        margin-bottom: 16px;
    }
    .key-features h1 {
        color: #fff;
        font-family: Sen;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 16px;
        text-align: center;
    }
    .drink-category-section .card{
        margin-top: 16px;
    }
    .pagination {
        display: flex;
        gap: 15px;
        width: fit-content;
        margin: auto;
        margin-top: 24px;
        width: 310px;
        overflow: scroll;
    }
    .pagination button {
        padding: 7px 16px;
        width: 39px;
        border-radius: 0px;
        border: 0px;
        font-size: 14px;
        text-transform: capitalize;
        line-height: 30px;
        position: relative;
        color: gold;
        font-family: 'Sen';
        margin-bottom: 0px;
        border: 1px solid gold;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 600px){
    footer .brand-logo-footer{
        text-align: center;
    }
    .brand-logo-footer a {
        color: #ffffffba !important;
        font-family: Sen;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    footer .container{
        padding: 0px 20px;
        padding-bottom: 0px !important;
    }    
    footer{
        padding-bottom: 0px !important;
    }
}
@media only screen and (min-width: 700px)  and (max-width:800px){
    .navbar-expand-lg .navbar-nav {
        gap: 32px;
        margin-left: 32px;
        background: #000;
        padding: 21px 36px;
    }
}